body{
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-family: sans-serif;
  color:#222;
  background-color: #fff;
}
a:hover{
  text-decoration: none;
}
/*设置头和脚的宽度*/
.my_header iframe ,.my_footer iframe {
    width:100%;
}
.my_footer iframe{
    height:23rem;
}
/* head.html */
.logo{
  display: inline-block;
  vertical-align: middle;
  padding:0.5rem 0;
}
.logo>img{
  vertical-align: middle;
}
input.button,input.button:hover{
  border:1px solid transparent;
  border-radius:0;
  background: #dd3915;
  color:#fff;
}
.head-link{
  color:#dd3915;
}
.head-link:hover{
  color:#fff;
  background: #dd3915;
}
.head-ul{
  position: relative;
}
.head-submenu{
  position: absolute;
  background: #F5F6F5;
  text-align: center;
  width:400px;
  top:2rem;
  left:1rem;
  padding:0;
}
.head-submenu>ul{
  display: inline-block;
  text-align: left;
  margin:1rem 1.3rem 0.5rem;
}
.head-submenu>ul>li{
  margin-bottom:0.3rem;
}
.my-gray{
  color:#909090;
}
.head-submenu span{
  color:#72A46D;
  font-weight: 600;
  margin-left:0.5rem;
  font-size:0.8rem;
}
.head-top-line{
  border-top:1px solid #fff;
}
.head-submenu-bottom{
  padding:0.5rem 0;
}
@media  (max-width:991px){
  html{
    font-size:15px;
  }
}
@media screen and (max-width:576px){
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    font-size:1rem;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    font-size:1rem;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    font-size:1rem;
  }
}

/* foot.html */
.foot-div{
  background: #84CF6D;
  padding:0.5rem 1.5rem 0.5rem;
  margin:1.25rem;
  margin-left:0;
}
.foot-div>a,.foot-div>a:hover{
  color:#fff;
  font-size:0.8rem;
}
footer a,footer div{
  color:#909090;
  font-size:0.8rem;
  margin:0;
}
footer a:hover{
  color:#909090;
  text-decoration: none;
}
footer .col-md-9 a{
  float:left;
  margin-right:0.5rem;
}
footer img{
  width:1.5rem;
}
@media screen and (max-width:768px){
  footer .col-md-3{
    display: none;
  }
}
/* index.html */
ul.homemenu{
  margin-bottom:2rem;
}
ul.homemenu li{
  font-size: 1rem;
  margin-bottom: 10px;
  position: relative; 
}
ul.homemenu li a.homemenu-link,ul.homemenu li a.homemenu-link:hover{
  position: relative;
  display: block;
}
a.homemenu-link{
  color:#222;
}
a.homemenu-link:hover{
  color:#dd3915;
}
ul.homemenu li a.homemenu-link span.home-ul-icon-name{
  vertical-align: middle;
}
/* 用i标签做小图标 */
.home-ul-icon{
  display: inline-block;
  background:url(../img/cat-icon.png) no-repeat;
  width:2rem;
  height:2rem;
  margin-right:1rem;
  vertical-align: middle;
}
ul.homemenu li.homemenu-0 .home-ul-icon{
  background-position: 0 0;
}
ul.homemenu li.homemenu-1 .home-ul-icon{
  background-position: 0 -40px;
}
ul.homemenu li.homemenu-2 .home-ul-icon{
  background-position: 0 -80px;
}
ul.homemenu li.homemenu-3 .home-ul-icon{
  background-position: 0 -120px;
}
ul.homemenu li.homemenu-4 .home-ul-icon{
  background-position: 0 -160px;
}
ul.homemenu li.homemenu-5 .home-ul-icon{
  background-position: 0 -200px;
}
ul.homemenu li.homemenu-6 .home-ul-icon{
  background-position: 0 -240px;
}
ul.homemenu li.homemenu-7 .home-ul-icon{
  background-position: 0 -280px;
}
ul.homemenu li.homemenu-8 .home-ul-icon{
  background-position: 0 -320px;
}
ul.homemenu li.homemenu-9 .home-ul-icon{
  background-position: 0 -360px;
}
ul.homemenu li.homemenu-10 .home-ul-icon{
  background-position: 0 -400px;
}
ul.homemenu li.homemenu-11 .home-ul-icon{
  background-position: 0 -440px;
}
ul.homemenu li.homemenu-12 .home-ul-icon{
  background-position: 0 -480px;
}
/* ul.homemenu li.homemenu-13 .home-ul-icon{
  background-position: 0 -520px;
} */
ul.homemenu li.homemenu-13 .home-ul-icon-border{
  margin:1rem 0 1rem;
  border:1px solid #F3F3F3;
}
ul.homemenu li.homemenu-14 .home-ul-icon{
  background-position: 0 -560px;
}
ul.homemenu li.homemenu-15 .home-ul-icon{
  background-position: 0 -600px;
}
ul.homemenu li.homemenu-16 .home-ul-icon{
  background-position: 0 -640px;
}
ul.homemenu li.homemenu-17 .home-ul-icon{
  background-position: 0 -680px;
}
.mt-home{
  margin-top:2rem;
}
.home-icon{
  display: inline-block;
  background: url(../img/icon-arrow.png) no-repeat;
}
.home-icon-arrow{
  position: absolute;
  background-position: -7px -58px;
  width:0.8rem;
  height:1rem;
  right:0;
  bottom:0.4rem;
}
.home-submenu{
  position: absolute;
  background: #F5F6F5;
  width:400px;
  top:-20px;
  left:160px;
  padding: 1rem 2rem;
}
.homemenu .home-submenu .home-submenu-item{
  padding: 0.8rem 0;
}
.home-submenu .bottom-line{
  border-bottom:1px solid #c7c3be;
}
.menu-float>*{
  float: left;
  display: block;
}
.ul-mar{
  bottom:-50px;
}
/* 轮播图 */
/* .carouser */
.carousel-caption {
  left:5%;
  right:0;
  bottom:1rem;    
  text-align:left;
}
.carousel-indicators{
  bottom:-20px;
  margin:0;
}
.carousel-indicators li{
  width:8px;
  height:8px;
  border-radius: 50%;
  border:1px solid rgb(128,128,128);
}
.carousel-indicators li:hover{
  background:rgb(181,181,181);
}
.carousel-indicators li.active{
  background:rgb(128,128,128);
}
.carousel-title{
  font-size:30px;;
  font-weight: 700;
}
.carousel-num,.carousel-author{
  font-size:13px;
}
.carousel-item img{
  width:540px;
}

.home-icon-carousel{
  /* 最近的已定位祖先元素是div.carousel */
  position: absolute;
  background-position: 0 -10px;
  width: 20px;
  height: 20px;
  right:36%;
  bottom:-20px;
}
@media screen and (max-width:768px){
  .carousel-title{
    font-size:20px;;
    font-weight: 600;
}
  .home-icon-carousel{
    right:30%;
  }
}
/* 菜谱 */
.rookie-recipe-title{
  position:relative;
}
.title{
  margin:0;
  font-size:20px;
  font-weight: 700;
  color:#C0AE7D;
}
.home-icon-left-arrow{
  position: absolute;
  width:24px;
  height:24px;
  right:30px;
  background-position:-120px -280px;
}
.home-icon-right-arrow{
  position: absolute;
  width:24px;
  height:24px;
  right:0;
  background-position:-31px -280px;
}
.rookie-recipe-item{
  color:transparent;
  width:32%;
}
.rookie-recipe-item img{
  max-width: 100%;
}
.rencent-pop ul img{
    object-fit: cover;
    width: 235px;
    height: 138px;
}
.rencent-pop ul li{
  float:left;
}
/* :nth 奇数个li加右外边距，偶数个li加左外边距 */
.rencent-pop ul img:hover{
  opacity: 0.9;
}
.rencent-pop ul li .font-recipe{
  font-size: 18px;
}
.rencent-pop ul li .stats{
  font-size: 12px;
}
.rencent-pop ul li .stats span{
  color:#a5a7a6;
}
.recipe-pop-border{
  border:1px solid #f3f3f3;
}