body{
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-family: sans-serif;
  color:#222;
  background-color: #fff;
}
a:hover{
  text-decoration: none;
}
/*设置头和脚的宽度*/
.my_header iframe ,.my_footer iframe {
    width:100%;
}
.my_footer iframe{
    height:23rem;
}

/* head.html */
input.button,input.button:hover{
  border:1px solid transparent;
  border-radius:0;
  background: #dd3915;
  color:#fff;
}
.link-text{
  color:#dd3915;
}
.link-text:hover{
  color:#fff;
  background: #dd3915;
}
@media screen and (max-width:576px){
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    font-size:0.8rem;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    font-size:0.8rem;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    font-size:0.8rem;
  }
}

/* foot.html */
.foot-div{
  background: #84CF6D;
  padding:0.5rem 1.5rem 0.5rem;
  margin:1.25rem;
  margin-left:0;
}
.foot-div>a,.foot-div>a:hover{
  color:#fff;
  font-size:0.8rem;
}
footer a,footer div{
  color:#909090;
  font-size:0.8rem;
  margin:0;
}
footer a:hover{
  color:#909090;
  text-decoration: none;
}
footer .col-md-9 a{
  float:left;
  margin-right:0.5rem;
}
footer img{
  width:1.5rem;
}
@media screen and (max-width:768px){
  footer .col-md-3{
    display: none;
  }
}
/* index.html */
ul.homemenu{
  margin-bottom:2rem;
}
ul.homemenu li{
  font-size: 0.9rem;
  margin-bottom: 10px;
  position: relative; 
}
ul.homemenu li a.homemenu-link,ul.homemenu li a.homemenu-link:hover{
  position: relative;
  display: block;
}
a.homemenu-link{
  color:#222;
}
a.homemenu-link:hover{
  color:#dd3915;
}
ul.homemenu li a.homemenu-link span.homeicon-name{
  vertical-align: middle;
}
/* 用i标签做小图标 */
.homeicon{
  display: inline-block;
  background:url(../img/cat-icon.png) no-repeat;
  width:2rem;
  height:2rem;
  margin-right:1rem;
  vertical-align: middle;
}
ul.homemenu li.homemenu-0 .homeicon{
  background-position: 0 0;
}
ul.homemenu li.homemenu-1 .homeicon{
  background-position: 0 -40px;
}
ul.homemenu li.homemenu-2 .homeicon{
  background-position: 0 -80px;
}
ul.homemenu li.homemenu-3 .homeicon{
  background-position: 0 -120px;
}
ul.homemenu li.homemenu-4 .homeicon{
  background-position: 0 -160px;
}
ul.homemenu li.homemenu-5 .homeicon{
  background-position: 0 -200px;
}
ul.homemenu li.homemenu-6 .homeicon{
  background-position: 0 -240px;
}
ul.homemenu li.homemenu-7 .homeicon{
  background-position: 0 -280px;
}
ul.homemenu li.homemenu-8 .homeicon{
  background-position: 0 -320px;
}
ul.homemenu li.homemenu-9 .homeicon{
  background-position: 0 -360px;
}
ul.homemenu li.homemenu-10 .homeicon{
  background-position: 0 -400px;
}
ul.homemenu li.homemenu-11 .homeicon{
  background-position: 0 -440px;
}
ul.homemenu li.homemenu-12 .homeicon{
  background-position: 0 -480px;
}
/* ul.homemenu li.homemenu-13 .homeicon{
  background-position: 0 -520px;
} */
ul.homemenu li.homemenu-13 .homeicon-border{
  margin:1rem 0 1rem;
  border:1px solid #F3F3F3;
}
ul.homemenu li.homemenu-14 .homeicon{
  background-position: 0 -560px;
}
ul.homemenu li.homemenu-15 .homeicon{
  background-position: 0 -600px;
}
ul.homemenu li.homemenu-16 .homeicon{
  background-position: 0 -640px;
}
ul.homemenu li.homemenu-17 .homeicon{
  background-position: 0 -680px;
}
.mt-home{
  margin-top:2rem;
}
.home-subicon{
  display: inline-block;
  background: url(../img/icon-arrow.png) no-repeat;
}
.home-subicon-arrow{
  position: absolute;
  background-position: -7px -58px;
  width:0.8rem;
  height:1rem;
  right:0;
  bottom:0.4rem;
}
.home-submenu{
  position: absolute;
  background: #F5F6F5;
  width:400px;
  top:-20px;
  left:160px;
  padding: 1rem 2rem;
}
.homemenu .home-submenu .home-submenu-item{
  padding: 0.8rem 0;
}
.home-submenu .bottom-line{
  border-bottom:1px solid #c7c3be;
}
.menu-float>*{
  float: left;
  display: block;
}
.title{
  /*  */
}
