@media (max-width: 768px){
  header .row div:nth-child(1){
    display: block;
    width:100%;
    text-align: center;
  }
  header .row div:nth-child(2){
    display: none !important;
  }
}
.social-login-box{
  margin: 0 0 0 100px;
}
.social-login-box :not(:last-child){
  margin-bottom:15px;
}
.social-login-icon {
  display: block;
  width: 194px;
  height: 40px;
  background: url('../img/login.png') no-repeat;
}
.social-login-icon-qq {
  background-position: 0 0;
}
.social-login-icon-weibo {
  background-position: 0 -55px;
}
.social-login-icon-douban {
  background-position: 0 -110px;
}
.form-container {
  margin: 0 0 0 50px;
}
.form-container .code-form .tel{
  margin-left: -1px;
  width: 200px;
  max-width: 100%;
}
.form-container .code-form label{
  width: 100px;
  text-align: right;
  margin: 0 10px 0 0;
  display: inline-block;
}
.form-container .code-form input,.form-container .code-form label{
  height: 50px;
  line-height: 50px;
}
.form-container .code-form label.drag-label{
  line-height: 30px;
  height:30px;
}
.form-container .code-form a.sendCode{
  padding: 0;
  height:50px;
  width:130px;
  line-height: 50px;
  color:#fff;
}
.form-container .code-form a.sendCode .timer {
  display: none;
}
.form-container .code-form a.button,.form-container .code-form a.button:hover{
  background: #c6c1b8;
}
.form-container .code{
  width:188px;
  margin-left:10px;
}
.form-container .login-form .login-check label{
  color:#909090;
}
.form-container .login-form .login-check{
  margin:-20px 0 0 110px;
}