body{
  min-width:960px;
}
header{
  display: block;
  padding:6px;
}
.header-container,.page-container{
  width:1000px;
  margin:auto;
}
.registe{
  line-height: 56px;
}
.reg-box{
  width:33.333%;
  margin:auto;
}
input{
  line-height: normal;
}
.form-container {
  margin-bottom:50px;
}
.form-container .dropdown{
  height: 35px;
  width: 130px;
}
.form-container .dropdown .selected{
  height:35px;
  padding:9px;
}
.form-container .dropdown li{
  padding: 8px 12px;
}
/* 验证码 */
.form-container a.sendCode .timer {
  display: none;
}
.form-container .button,.form-container .button:hover{
  color: #fff;
  background-color: #dd3915;
}
.form-container .code {
  width: 210px;
}