#toTop{
  position:fixed;
  bottom:20px;
  right:20px;
  display:none;
  cursor: pointer;
  background: transparent;
  z-index:20;
}
/* header */
@media screen and (max-width:768px){
  header{
    height:100px;
  }
  body{
    padding:100px 0 0;
  }
}
.head-ul{
  position: relative;
}
.head-submenu{
  position: absolute;
  text-align: center;
  width:400px;
  top:1.5rem;
  left:1rem;
  padding:1rem;
  z-index:20;
}
.head-submenu>div{
  background: #F5F6F5;
}
.head-submenu ul{
  display: inline-block;
  text-align: left;
  margin:1rem 1.3rem 0.5rem;
}
.head-submenu ul li{
  margin-bottom:0.3rem;
}
.my-gray{
  color:#909090;
}
.head-submenu span{
  color:#72A46D;
  font-weight: 600;
  margin-left:0.5rem;
  font-size:0.8rem;
}
.head-top-line{
  border-top:1px solid #fff;
}
.head-submenu-bottom{
  padding:0.5rem 0;
}
@media  (max-width:991px){
  html{
    font-size:15px;
  }
}
@media screen and (max-width:576px){
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    font-size:1rem;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    font-size:1rem;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    font-size:1rem;
  }
}
/* 顶部广告位 */
.top-ad{
  text-align: center;
  padding: 10px 0 10px;
}
/* footer */
footer.container{
  padding-bottom:5rem;
}
.foot-div{
  background: #84CF6D;
  padding:0.5rem 1.5rem 0.5rem;
  margin:1.25rem;
  margin-left:0;
}
.foot-div>a,.foot-div>a:hover{
  color:#fff;
  font-size:0.8rem;
}
footer a,footer div{
  color:#909090;
  font-size:0.8rem;
  margin:0;
}
footer a:hover{
  color:#909090;
  text-decoration: none;
}
footer .col-md-9 a{
  float:left;
  margin-right:0.5rem;
}
footer img{
  width:1.5rem;
}
@media screen and (max-width:768px){
  footer .col-md-3{
    display: none;
  }
}
/* index.html */
ul.homemenu{
  margin-bottom:2rem;
}
ul.homemenu li{
  font-size: 1rem;
  margin-bottom: 10px;
  position: relative; 
}
ul.homemenu li a.homemenu-link,ul.homemenu li a.homemenu-link:hover{
  position: relative;
  display: block;
}
a.homemenu-link{
  color:#222;
}
a.homemenu-link:hover{
  color:#dd3915;
}
ul.homemenu li a.homemenu-link span.home-ul-icon-name{
  vertical-align: middle;
}
/* 用i标签做小图标 */
.home-ul-icon{
  display: inline-block;
  background:url(../img/cat-icon.png) no-repeat;
  width:2rem;
  height:2rem;
  margin-right:1rem;
  vertical-align: middle;
}
ul.homemenu li.homemenu-0 .home-ul-icon{
  background-position: 0 0;
}
ul.homemenu li.homemenu-1 .home-ul-icon{
  background-position: 0 -40px;
}
ul.homemenu li.homemenu-2 .home-ul-icon{
  background-position: 0 -80px;
}
ul.homemenu li.homemenu-3 .home-ul-icon{
  background-position: 0 -120px;
}
ul.homemenu li.homemenu-4 .home-ul-icon{
  background-position: 0 -160px;
}
ul.homemenu li.homemenu-5 .home-ul-icon{
  background-position: 0 -200px;
}
ul.homemenu li.homemenu-6 .home-ul-icon{
  background-position: 0 -240px;
}
ul.homemenu li.homemenu-7 .home-ul-icon{
  background-position: 0 -280px;
}
ul.homemenu li.homemenu-8 .home-ul-icon{
  background-position: 0 -320px;
}
ul.homemenu li.homemenu-9 .home-ul-icon{
  background-position: 0 -360px;
}
ul.homemenu li.homemenu-10 .home-ul-icon{
  background-position: 0 -400px;
}
ul.homemenu li.homemenu-11 .home-ul-icon{
  background-position: 0 -440px;
}
ul.homemenu li.homemenu-12 .home-ul-icon{
  background-position: 0 -480px;
}
/* ul.homemenu li.homemenu-13 .home-ul-icon{
  background-position: 0 -520px;
} */
ul.homemenu li.homemenu-13 .home-ul-icon-border{
  margin:1rem 0 1rem;
  border:1px solid #F3F3F3;
}
ul.homemenu li.homemenu-14 .home-ul-icon{
  background-position: 0 -560px;
}
ul.homemenu li.homemenu-15 .home-ul-icon{
  background-position: 0 -600px;
}
ul.homemenu li.homemenu-16 .home-ul-icon{
  background-position: 0 -640px;
}
ul.homemenu li.homemenu-17 .home-ul-icon{
  background-position: 0 -680px;
}
.mt-home{
  margin-top:2rem;
}
.home-icon{
  display: inline-block;
  background: url(../img/icon-arrow.png) no-repeat;
}
.home-icon-arrow{
  position: absolute;
  background-position: -7px -58px;
  width:0.8rem;
  height:1rem;
  right:0;
  bottom:0.4rem;
}
.home-submenu{
  position: absolute;
  background: #F5F6F5;
  width:400px;
  top:-20px;
  left:100%;
  padding: 1rem 2rem;
  z-index: 20;
}
@media screen and (max-width:576px){
  .home-submenu{
    width:350px;
  }
}
.homemenu .home-submenu .home-submenu-item{
  padding: 0.8rem 0;
}
.home-submenu .bottom-line{
  border-bottom:1px solid #c7c3be;
}
.menu-float>*{
  float: left;
  display: block;
}
/* 轮播图 */
/* .carouser */
.carousel-caption {
  left:5%;
  right:0;
  bottom:1rem;    
  text-align:left;
}
.carousel-indicators{
  bottom:-20px;
  margin:0;
}
.carousel-indicators li{
  width:8px;
  height:8px;
  border-radius: 50%;
  border:1px solid rgb(128,128,128);
}
.carousel-indicators li:hover{
  background:rgb(181,181,181);
}
.carousel-indicators li.active{
  background:rgb(128,128,128);
}
.carousel-title{
  font-size:30px;;
  font-weight: 700;
}
.carousel-num,.carousel-author{
  font-size:13px;
}
.carousel-item img{
  width:100%;
  height: 220px;
  object-fit: cover;
}
@media screen and (min-width:768px){
  .carousel-item img{
    height: 300px;
  }
}
.home-icon-carousel{
  /* 最近的已定位祖先元素是div.carousel */
  position: absolute;
  background-position: 0 -10px;
  width: 20px;
  height: 20px;
  right:36%;
  bottom:-20px;
}
@media screen and (max-width:768px){
  .carousel-title{
    font-size:20px;;
    font-weight: 600;
}
  .home-icon-carousel{
    right:30%;
  }
}
/* 新秀菜谱 */
.rookie-recipe-title{
  position:relative;
}
.title{
  margin:0;
  font-size:20px;
  font-weight: 700;
  color:#C0AE7D;
  height:27px;
}
.home-icon-left-arrow{
  position: absolute;
  width:24px;
  height:24px;
  right:30px;
  background-position:-1px -281px;
  opacity: 1;
}
.home-icon-left-arrow:hover{
  opacity: 0.8;
  background-position: -61px -281px;
}
.home-icon-left-arrow.disabled,.home-icon-left-arrow.disabled:hover{
  opacity: 1;
  background-position: -121px -281px;
}
.home-icon-right-arrow{
  position: absolute;
  width:24px;
  height:24px;
  right:0;
  background-position:-31px -281px;
  opacity: 1;
}
.home-icon-right-arrow:hover{
  opacity: 0.8;
  background-position: -91px -281px;
}
.home-icon-right-arrow.disabled,.home-icon-right-arrow.disabled:hover{
  opacity: 1;
  background-position: -151px -281px;
}
.rookie-recipe-list{
  width:100%;
  overflow: hidden;
}
.rookie-recipe-item{
  width:32%;
  color:transparent;
}
/* .rookie-recipe-item img {
  width: 100%;
  height: 76px;
  object-fit: cover;
}
@media screen and (min-width:768px){
  .rookie-recipe-item img{
    height: 108px;
  }
} */
.rookie-recipe-item img {
  width: 100%;
  /* height: 76px; */
  object-fit: cover;
}
ul img:hover{
  opacity: 0.9;
}
/* 最近流行 */
.rencent-pop ul img{
    object-fit: cover;
    width:100%;
    /* height: 138px; */
}
.rencent-pop ul li{
  margin-bottom: 1.5rem;
}
/*第奇数个li*/
.rencent-pop ul li:nth-child(odd){
  float:left;
  width:50%;
}
.rencent-pop ul li:nth-child(odd) .recipe-width{
  margin-right:0.8rem;
}
/*第偶数个li */
.rencent-pop ul li:nth-child(even){
  float:right;
  width:50%;
}
.rencent-pop ul li:nth-child(even) .recipe-width{
  margin-left: 0.8rem;
}
/* .rencent-pop ul li .font-recipe{
  font-size: 18px;
} */
.rencent-pop ul li .stats{
  font-size: 12px;
}
.rencent-pop ul li .stats span{
  color:#a5a7a6;
}
.recipe-pop-border{
  border:1px solid #f3f3f3;
}
.recipe-title{
  margin:10px 5px 0;
  font-size: 18px;
}
/* 时令食材 */
.seasonal-ingredients .season-bg{
  background: #f5f5f5;
}
.seasonal-ingredients .season-bg img{
  width:100%;
}
.seasonal-ingredients .season-bg ul{
  padding:10px 7px 6px;
}
.seasonal-ingredients .season-bg ul li{
  text-align: center;
  width:16.666%;
  float:left;
  padding:4px 5px;
}
.seasonal-ingredients .season-bg ul li a{
  display: block;
  margin:0 2px;
}
.seasonal-ingredients .season-bg ul li a span{
  display: block;
  margin:4px;
  font-size:12px;
}
/* 大家的作品 */
.col-12{
  padding:0;
}
.opus{
   background: #f5f5f5;
   padding:2rem 2rem;
   margin:0 0 2px;
}
.opus h3{
  font-size:24px;
  line-height: 2;
  height:48px;
}
@media screen and (max-width:768px){
  .opus h3{
    font-size:20px;
  }
}
@media screen and (max-width:576px){
  .opus h3{
    font-size:16px;
  }
}
.opus .opus-link{
  font-size: 14px;
  font-weight: 700;
}
.opus .opus-link a{
  display: inline-block;
  margin-right:2rem;
  overflow: hidden;
  color: #dd3915;
  text-decoration: none;
}
.opus .opus-link a:hover{
  color:#fff;
  background: #dd3915;
}
.opus .title .num{
  color:#ec6c3f;
}
.event li{
  background: #f5f5f5;
  margin:0 0 2px;
  padding:2rem 2rem;
  position: relative; /*配合a.cover-link定位*/
}
.event .event-left>*{
  float:left;
  padding:0 2px;
}
.event .cover-link{
  display: block;
  width:100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
}
.event .desc{
  font-size: 12px;
  color: #909090;
}
.event-left img{
  width:100%;
}
/* 登录卡片 */
.login-part{
  padding: 4rem 2rem 2rem;
  background:#f5f5f5;
  text-align: center;
  position: relative;
  margin-bottom:30px;
}
.login-part .button{
  background: #dd3915;
  display: block;
  color:#fff;
  width:170px;
  margin:5px auto;
  padding:10px 10px;
}
.login-part a{
  font-size:14px;
}
.login-part .report-link{
  position: absolute;
  width:100%;
  text-align: center;
  left:0;
  bottom:16px;
}
.login-icon{
  display: inline-block;
  background:url(../img/login-icon.png) no-repeat;
  width:16px;
  height:16px;
  margin-right:8px;
  vertical-align: middle;
}
.login-icon-qq{
  background-position: 0 0;
}
.login-icon-webo{
  background-position: 0 -30px;
}
/* 流行搜索 */
.home-icon-euqal{
  position: absolute;
  background-position: -20px 0px;
  width: 10px;
  height: 10px;
  right: 10%;
  bottom: 6px;
}
.home-icon-up{
  position: absolute;
  background-position: 0 0;
  width: 10px;
  height: 10px;
  right: 10%;
  bottom: 6px;
}
.home-icon-down{
  position: absolute;
  background-position: -9px 0px;
  width: 11px;
  height: 11px;
  right: 10%;
  bottom: 6px;
}
.pop-search ol li{
  position: relative;
  margin-bottom:3px;
}
.pop-search ol li a span{
  display: inline-block;
  width:60%;
  vertical-align: top;
}
.pop-search ol li .num{
  display: inline-block;
  width: 24px;
  color: #909090;
  padding-right: 8px;
}
/* 流行菜单 */
.pop-recipe ul li{
  margin-bottom: 20px;
}
.pop-recipe ul li img{
  object-fit: cover;
  width:100%;
  height:170px;
}
.pop-recipe ul li .pop-recipe-title{
  padding: 14px 10px;
  font-size: 16px;
}
@media screen and (min-width:300px) and (max-width:991px){
  .pop-recipe ul li:nth-child(odd){
    float:left;
    padding-right:5px;
    width:50%;
  }
  .pop-recipe ul li:nth-child(even){
    float:right;
    padding-left:5px;
    width:50%;
  }
}
@media screen and (min-width:992px){
  .right-side{
    padding-left:20px;
  }
}
/* 下厨房的厨友们 */
.cookers .cookers-list ul li{
  border-bottom: 1px solid #f3f3f3;
  padding-bottom:1rem;
  margin-bottom:1rem;
}
.cookers .cookers-list ul li .cooker-container{
  position: relative;
  font-size: 14px;
}
.cookers .cookers-list ul li .cooker-container .avatar{
  display: inline-block;
}
.cookers .cookers-list ul li .cooker-container .avatar img{
  border-radius: 50%;
  width:60px;
  height:60px;
  vertical-align: middle;
}
.cookers .cookers-list ul li .cooker-container .detail{
  display: inline-block;
  vertical-align: middle;
  color: #909090;
  height:60px;
  line-height: 20px;
  padding-left: 16px;
}
.cookers .cookers-list ul li .cooker-container .detail .stats{
  font-size:12px;
}
.cookers .cookers-list ul li .cooker-container .concern{
  position: absolute;
  top:0;
  right:0;
}
.cookers .cookers-list ul li .cooker-container .concern .button{
  width:90px;
  height:40px;
  line-height: 40px;
  padding:0;
}
.cookers .cookers-list .more{
  text-align: center;
}